/.EntityGenerator.java._trace
/.EntityGenerator.xtendbin
/.ServiceGenerator.java._trace
/.ServiceGenerator.xtendbin
/.ServiceInterfaceGenerator.java._trace
/.ServiceInterfaceGenerator.xtendbin
/EntityGenerator.java
/ServiceGenerator.java
/ServiceInterfaceGenerator.java
