/.EntityTemplate.java._trace
/.EntityTemplate.xtendbin
/.ExpressionTemplate.java._trace
/.ExpressionTemplate.xtendbin
/.ReferenceTemplate.java._trace
/.ReferenceTemplate.xtendbin
/.ServiceInterfaceTemplate.java._trace
/.ServiceInterfaceTemplate.xtendbin
/.ServiceTemplate.java._trace
/.ServiceTemplate.xtendbin
/.StatementTemplate.java._trace
/.StatementTemplate.xtendbin
/EntityTemplate.java
/ExpressionTemplate.java
/ReferenceTemplate.java
/ServiceInterfaceTemplate.java
/ServiceTemplate.java
/StatementTemplate.java
